<div class="image-container">

  <% flash.each do |key, value| %>
       <div class="alert alert-info" role="alert" style="width: 450px; margin: auto; margin-top: -80px;"><%= value %></div>
  <% end %>
  </br>
  </br>
   </br>
</br>
  <h1 style="font-size:80px;">Hire10X</h1>
  </br>
  </br>
  </br>
</br>
 </br>
</br>
 </br>
  <h2 style="font-size:55px;">Outsourced HR for Startups</h2>
  </br>
  </br>

</div>
<div style="text-align: center;">
</br>
</br>
</br>
  <h1>How it works</h1>
</br>
<p style="width: 750px; margin: 0 auto; font-size:22px;">Hire10X is for teams looking to control their own candidate pipeline that don't want to spend hours doing the initial light technical & cultural screens</p>
</br>
</br>
</br>
</br>
  <div class="container">
   <div class="row">

    <div class="col-md-4">
      <h2>Share your pipeline</h2></br>
      <h3 style="font-size: 20px;">Hand your pipeline of candidates to us as they submit their aplications. We hop on a quick introductory call with them within a few days time</h3>
   
    </br>
  </br>
      <%= image_tag("circle1.jpg") %><%= image_tag("circle2.jpg") %><%= image_tag("circle3.png") %><%= image_tag("circle4.jpg") %>
      </br>
      </br>
      <p style="font-size: 16px;">+ 19 other candidates applied to your Sr Python Engineer Position this week</p>
    </div>

    <div class="col-md-4">
      <h2>We do initial intervewiew</h2></br>
      <h3 style="font-size: 20px;">We provide candidates information about the position, company and interview process. We assess candidates based on a checklist of items you have provided to us</h3>
  
  
  </br>
      <%= image_tag("circle5.png") %><%= image_tag("circle6.png") %><%= image_tag("circle7.png") %><%= image_tag("circle8.png") %>
      </br>
      </br>
      <p style="font-size: 16px;">+ 4 others seem like a good fit after our initial phone screen</p>
    </div>

     <div class="col-md-4">
      <h2>You have the last word</h2></br>
      <h3 style="font-size: 20px;">The most promising candidates get a coding challenge of your choice. If succesfull they are then automatically scheduled for a final interview with your technical team</h3>
    
    </br> 
      <%= image_tag("circle9.png") %><%= image_tag("circle10.png") %><%= image_tag("circle11.png") %>
      </br>
      </br>
      <p style="font-size: 16px;">These 3 candidates passed the coding challenge and are scheduled for final interviews</p>
    </div>
    

   </div>
 </div>
 </br>
</br>
</br>
</br>
</br>
</br>
</br>
</br>
</br>
</br>
</br>
</div>
<div style="text-align: center; color: white;" class="image-container">
  <h1 style="margin-top:-30px;">Why should I use hire10X?</h1>
</br>
</br>
</br>
  <div class="container">
   <div class="row">
    <div class="col-md-8 col-md-offset-2" style="text-align:left;">
          <ul>
      <li style="font-size: 24px;">You are a startup founder and don't have the time to interview 10+ candidates each week.</li>
    </br>
      <li style="font-size: 24px;">The best candidates don't take coding challenges unless they have had a point of contact at your company, we become the point of contact.</li>
    </br>
      <li style="font-size: 24px;">You only have to deal with final interviews after candidates have been vetted culturally and technically through a criteria of your choice.</li>
    </br>


    </ul>
      </div>

   </div>
 </div>
 </br>
</br>
</br>
</br>
</br>
</br>
</div>
<div style="text-align: center;">
</br>
</br>
</br>
  <h1>About us</h1>
</br>
</br>
</br>
  <div class="container">
   <div class="row">

    <div class="col-md-8  col-md-offset-2" style="font-size:20px; text-align:left;">
      <p>We are a group of former YCombinator founders that grew tired of traditional hiring processes.</p>
      <p>We now live as digital nomads allowing us to opportunity to work for cheap helping startups hire the best technical talent on the planet.</p>
      <p>We have technical backgrounds and have been through the hiring process many times ourselves. Because we are living nomadically at inexpensive destinations we are able to offer this service at very affordable rates.</p> 
      <p>Please get in touch if you are tired of wasting time on initial rounds of interviews and want to work with us to find your next hire!</p> 
    </br>
    <div class="typeform-widget" data-url="https://javiernoris.typeform.com/to/jXMzNh" style="width: 100%; height: 500px;"></div><script>(function(){var qs,js,q,s,d=document,gi=d.getElementById,ce=d.createElement,gt=d.getElementsByTagName,id="typef_orm",b="https://s3-eu-west-1.amazonaws.com/share.typeform.com/";if(!gi.call(d,id)){js=ce.call(d,"script");js.id=id;js.src=b+"widget.js";q=gt.call(d,"script")[0];q.parentNode.insertBefore(js,q)}})()</script><div style="font-family: Sans-Serif;font-size: 12px;color: #999;opacity: 0.5; padding-top: 5px;">powered by <a href="https://www.typeform.com/examples/?utm_campaign=jXMzNh&amp;utm_source=typeform.com-1012841-Basic&amp;utm_medium=typeform&amp;utm_content=typeform-embedded-poweredbytypeform&amp;utm_term=EN" style="color: #999" target="_blank">Typeform</a></div>
    </div>
    

   </div>
 </div>
 </br>
</br>
</br>
</br>
</br>
</br>
</div>